<?xml version="1.0"?>

<launch>
	<group ns="/timur">

    	<rosparam command="load" file="$(find timur_prime)/param/joystick/timur_keyboard_params.yaml" />
    	<rosparam command="load" file="$(find timur_prime)/param/joystick/timur_keyboard_control_params.yaml" />
  		<node pkg="timur_keyboard" type="timur_keyboard" name="timur_keyboard" output="screen"/>
	</group>
</launch>
			
